@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Quicksand&display=swap');

:root{
    --primary:   #fed766  !important;
    --secondary: #fe4a49 !important;
    --grey: #e4e3e3  !important;
    --dark: #343a40 !important;

    --txt: 'Quicksand','sans-serif';
    --logo: 'Pacifico','sans-serif';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body{
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--grey);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(var(--primary), var(--secondary));
    border-radius: 10px;
}

.navbar{
    box-shadow: 1px 1px 5px var(--grey);
}


.logo {
    font-size: 30px  !important;
    font-family: var(--logo);
    color: var(--primary);
}

.nav-link {
    color: var(--dark);
}

.nav-link:hover {
    color: var(--secondary);
}

.navbar-toggler {
    border:none !important;
    outline: none !important;
    font-size: 30px !important;
}

.navbar .navbar-nav .nav-link.active{
    color: var(--primary);
}

#home{
     padding-top: 20px !important;
}

#mobile-top {
    margin-top: -220px !important;
}

#about,#skills,#contact,#work {
    padding-top: 100px !important;
}

.timeline {
    list-style: none;
    padding: 0px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.325);
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  .timeline-title {
    margin-top: 0;
    color: #fe4a49 !important;
    text-transform: uppercase;
    font-family: var(--txt);
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
    text-align: justify;
  }
  .timeline-body > p + p {
    margin-top: 5px;
    text-align: justify;
  }

.btn-outline-dark {
  border-color: var(--primary);
}

.btn-dark {
    border-radius: 20% 0%;
    color: black;
    background-color: var(--primary);
    border-color: var(--primary);
    font-weight: bold;
    box-shadow: 2px 2px;
}

.btn-outline-dark:hover {
    color: black;
    background-color: var(--primary);
    border-color: var(--primary);
    font-weight: bold;
    box-shadow: 2px 2px;
}

.btn.btn-outline-dark.active,
.btn.btn-outline-dark:active {
  color: #ffff !important;
  background-color: #fe4a49 !important;
  border-color: #fe4a49 !important;
  outline: none;
}


.social-media, .foot-icon i{
    font-size: 36px;
}

.social-media li,.foot-icon li {
    list-style: none;
}


.bxl-dribbble::after{
    content: '';
    position: absolute;
    width: 5px;
    height : 200px;
    border-radius: 10px;
    background-color: var(--primary);
    transform: translate(-500%, 35%);
}

.theme-text {
    color: var(--primary);
}

#person-img {
    background-image: url('../images/tes.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 408px;
    background-position-x: 60% ;
}

#person-img::after {
    content: '';
    margin-top: 30px;
    position: absolute;
    width: 70%;
    height: 86%;
    background-color: #fe4a49 !important;
    border-radius: 40% 40% 100% 100%/ 20% 20% 50% 50%;
    /* border-radius: 30% 70% 50% 70%/30% 75% 60% 100%; */
    z-index: -1;
    transform: translate(17%);
}

.title {
    text-align: center;
}

.title h1 {
    font-family: var(--logo);
    letter-spacing: 3px;
    text-transform: capitalize;
}

p{
    font-size: 20px;
}

.border {
    border-radius: 10px;
}

.progress-con {
    border-radius: 10px;
    box-shadow : 1px 1px 3px var(--primary);
}

.progress{
    height: 10px !important;
}

.progress-bar{
    background-image: linear-gradient(to right,var(--primary),var(--secondary));
}

.work-info li {
    cursor: pointer;
}

.work-info i{
    font-size: 50px;
    color: var(--primary);
}

#active {
    color: var(--primary);
}

.form-control:focus{
    color: var(--dark);
    border-color: #ff74ae !important;
    outline: none;
    box-shadow: 0 0 0 0.2 rem rgba(255,46,133,0.25);
}


.foot-icon i,.copyright {
    color: var(--white);
}

.hide-element{
    display:none;
}

/* Mobile */

@media only screen and (max-width: 600px){
    #mobile-top {
        margin-top: -99px !important;
    }

    #person-img::after {
        content: '';
        position: absolute;
        width: 65%;
        height: 70%;
        background-color: var(--primary);
        border-radius: 40% 40% 100% 100%/ 20% 20% 50% 50%;
        z-index: -1;
        transform: translate(23%, 10%);
    }
}



@media only screen and (max-width: 768px){
 #mobile-top {
        margin-top: -99px !important;
    }

    

    #person-img::after {
        content: '';
        position: absolute;
        width: 90%;
        height: 80%;
        background-color: var(--primary);
        border-radius: 40% 40% 100% 100%/ 20% 20% 50% 50%;
        z-index: -1;
        transform: translate(5%, 5%);
    }
}

@media only screen and (max-width: 992px){

    #person-img::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 90%;
        background-color: var(--primary);
        border-radius: 40% 40% 100% 100%/ 20% 20% 50% 50%;
        z-index: -1;
        transform: translate(10%, 5%);
    }
}

